<h2 class="text-center">
  <div class="btn-group">
    <a [routerLink]="['/save']" ><button class="btn btn-primary mr-3">
      <i class="far fa-plus-square"></i> Add task
    </button></a>
  </div>

  <div class="btn-group">
    <button class="btn btn-secondary" (click)="onUpdateTasksList()">
      <i class="fas fa-sync"></i> Refresh List
    </button>
  </div>
</h2>

<!-- Router outlet -->
<router-outlet></router-outlet>

<div class="alert alert-warning" *ngIf="error">
  {{ errorMessage }}
</div>

<table class="table">
  <thead align="center">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
    <th scope="col">Creation date</th>
    <th scope="col">Update date</th>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody align="center">
  <tr *ngFor="let todo of todos">
    <th scope="row">{{ todo.id }}</th>
    <td>{{ todo.title }}</td>
    <td>{{ todo.content }}</td>
    <td>{{ todo.created_at | date: 'medium' }}</td>
    <td>{{ todo.updated_at | date: 'medium' }}</td>
    <td>
      <a [routerLink]="['/save', todo.id]"><button class="btn btn-light btn-sm"><i class="fas fa-edit"></i> Edit</button></a>
    </td>
    <td>
      <button class="btn btn-danger btn-sm" (click)="onDeleteTask(todo.id)"><i class="fas fa-trash-alt"></i> Delete</button>
    </td>
    <td>

    </td>
  </tr>

  <!-- Loading case -->
  <tr *ngIf="todos != null && todos.length == 0">
    <th scope="row" class="text-center alert alert-warning" colspan="7">
      <i class="fas fa-spinner fa-spin"></i> Loading ...
    </th>
  </tr>

  <!-- No record case -->
  <tr *ngIf="todos == null">
    <th scope="row" class="text-center alert alert-warning" colspan="7">
      <i class="fas fa-exclamation"></i> No task!
    </th>
  </tr>

  </tbody>
</table>
